<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Livro</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <div class="container">

        <h1>Cadastrar Livro</h1>

        <form action="/cadastrar" method="POST">

            <label>Título</label><br>
            <input type="text"><br><br>

            <label>Autor</label><br>
            <input type="text"><br><br>

            <label>Ano</label><br>
            <input type="number"><br><br>

            <button type="submit">
                Cadastrar
            </button>

        </form>

    </div>

</body>

</html>